
.ButtonPosition {
    display: flex;
    top: 0;
    margin-bottom: 50px;
}
.Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
}
.Reset {
    position: fixed;
    bottom: 50px;
    margin-left: 120px;
}