
.ButtonPosition {
    display: flex;
    top: 0;
    margin-bottom: 10px;
}
.Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: static;

}
.Reset {
    margin: 2px;
    border: solid #555cc7 1px;
    background: #b1b1b1;
    color: white;
}