*{
    box-sizing: border-box;
}

.Normalize {
    text-decoration: none;
    color: black;

}
.Info {
    color: snow;
}

.Poster {
    margin: 5px;
    border-radius: 5px;

}
.Box {
    box-sizing: border-box;
}
.Position {
    position: static;
}