*{
    box-sizing: border-box;
}

.Normalize {
    text-decoration: none;
    color: black;
}

.Main {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.AllInfo {
    display: flex;
    margin: 1rem;
    background-color: #505050;
    overflow: hidden;
    align-items: center;

}
.Info {
    color: snow;
}

.Poster {
    height: 100%;
}
